.oiltech {
  padding-bottom: 55px;
}
.oiltech h1 {
  font-size: 32px;
  margin-bottom: 16px;
}

.oiltech-link ul {
  display: flex;
}
.oiltech-link li {
  margin-right: 5px;
}
.oiltech-link a {
  font-family: "Arimo";
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 14px;
  /* identical to box height */
  text-align: justify;
  /* 2 */
  color: #132043;
  margin: 24px 1px 16px 0;
}

.oiltech-title {
  margin-top: 16px;
}
.oiltech-title h1 {
  font-family: "Arimo";
  font-style: normal;
  font-weight: 400;
  font-size: 32px;
  line-height: 37px;
  /* 2 */
  color: #132043;
}

.oiltech-link a:hover {
  color: #c6a058;
}

.oiltech-block {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.oiltech-block-inner {
  flex-basis: 49%;
  margin: 3px 1px;
  overflow: hidden;
}
.oiltech-block-inner img {
  border-radius: 12px;
  width: 100%;
  min-height: 120px;
  max-height: 120px;
  -o-object-fit: cover;
     object-fit: cover;
}
.oiltech-block-inner-text {
  display: none;
}

.other {
  background-color: #f7f9ff;
  padding-bottom: 70px;
}

.other-title {
  padding: 64px 0 16px 0;
}
.other-title h1 {
  font-family: "Arimo";
  font-style: normal;
  font-weight: 400;
  font-size: 32px;
  line-height: 37px;
  /* identical to box height */
  /* 2 */
  color: #132043;
}

.other-block-inner {
  margin: 0 5px 40px 5px;
  height: 200px;
}
.other-block-inner-img img {
  width: 100%;
  min-height: 144px;
  max-height: 170px;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 12px;
}
.other-block-inner img {
  border-radius: 12px;
  width: 100%;
}
.other-block-inner h2 {
  color: #132043;
  margin-top: 18px;
  margin-bottom: 15px;
}

.other-block-inner-info {
  color: rgba(19, 32, 67, 0.5);
  display: flex;
}
.other-block-inner-info img {
  width: 15px;
  height: 15px;
}
.other-block-inner-info span {
  font-size: 14px;
  margin-left: 14px;
}

.other-block-inner:hover h2 {
  color: #c6a058;
}

.other-block {
  display: block;
}

@media only screen and (min-width: 768px) {
  .oiltech-block-inner {
    flex-basis: 33%;
    height: 175px;
  }
  .other-block-inner {
    padding: 20px;
  }
}
@media only screen and (min-width: 990px) {
  .oiltech-block-inner {
    margin: 20px 0;
    position: relative;
    flex-basis: 31.1%;
    height: 100%;
    max-height: 245px;
    overflow: hidden;
  }
  .oiltech-block-inner a {
    width: 100%;
    height: 100%;
  }
  .oiltech-block-inner img {
    width: 100%;
    height: 190px;
    max-height: 220px;
    -o-object-fit: cover;
       object-fit: cover;
  }
  .oiltech-block-inner::before {
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0%;
    border-radius: 12px;
    background: linear-gradient(rgba(141, 141, 141, 0), rgba(75, 75, 75, 0.452));
  }
  .oiltech-block-inner-text {
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    /* bottom: 0; */
    top: 0;
    opacity: 0;
    transition: 0.3s;
    border-radius: 12px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
  }
  .oiltech-block-inner-text p {
    text-align: left;
    margin-top: 10%;
    margin-left: 3%;
    margin-bottom: 10px;
    font-family: "Arimo";
    font-style: normal;
    font-weight: 400;
    font-size: 22px;
    line-height: 18px;
    color: #ffffff;
  }
  .oiltech-block-inner-text button {
    width: 100%;
    height: 100%;
  }
  .oiltech-block-inner-text img {
    margin-top: 10%;
    width: 66px;
    min-height: 66px;
    height: 66px;
  }
  .oiltech-block-inner:hover .oiltech-block-inner-text {
    opacity: 1;
  }
  .oiltech-title {
    margin: 50px 0;
  }
  .oiltech-title h1 {
    font-size: 48px;
    line-height: 55px;
  }
  .oiltech-link {
    margin-top: 20px;
  }
  .other {
    background-color: #fff;
  }
  .other-title {
    padding: 30px 0 30px 0;
  }
  .other-title h1 {
    font-size: 32px;
  }
  .other-block {
    display: flex;
    justify-content: space-between;
    height: auto;
  }
  .other-block-inner {
    height: 100%;
    display: flex;
    flex-direction: column;
    flex-basis: 31%;
    justify-content: space-between;
    padding: 0;
  }
  .other-block-inner-img {
    width: 100%;
    height: 100%;
    max-height: 245px;
    overflow: hidden;
  }
  .other-block-inner-img img {
    border-radius: 12px;
    width: 100%;
    height: 190px;
    max-height: 220px;
    -o-object-fit: cover;
       object-fit: cover;
  }
  .other-block-inner-title h2 {
    font-size: 24px;
    line-height: 132%;
    margin-top: 18px;
    margin-bottom: 15px;
  }
  .other-block-inner-info i {
    width: 14px;
    height: 13px;
  }
  .other-block-inner-info span {
    font-size: 16px;
    margin-left: 14px;
  }
}/*# sourceMappingURL=videogallery-item.css.map */